<p>weekly-weather works!</p>

<div id="weekly_weather_card_container">
    <div class="weekly_weather_card_top">
        <div class=weekly_weather_card_top_item>#</div>
        <div class=weekly_weather_card_top_item>Date</div>
        <div class=weekly_weather_card_top_item>Status</div>
        <div class=weekly_weather_card_top_item>Temp High</div>
        <div class=weekly_weather_card_top_item>Temp Low</div>
        <div class=weekly_weather_card_top_item>Wind Speed</div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

    <div class="weekly_weather_card">
        <div class="idx"></div>
        <div class="date"></div>
        <div id="status_grid">
            <img class="status_img" src="../../assets/clear_day.svg" style="margin:auto; width:40px; height:40px; display:block" />
            <div class="status"></div>
        </div>
        <div class="temp_high"></div>
        <div class="temp_low"></div>
        <div class="wind_speed"></div>
    </div>

</div>