<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="alert alert-warning" *ngIf="!itemExist" role="alert">
    Sorry! No records found.
</div>

<table class="table" *ngIf="itemExist">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let info of favoriteItems; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td (click)=onCityClick(i)>{{ info.city }}</td>
        <td (click)=onCityClick(i)>{{ info.state}}</td>
        <td (click)=onDeleteClick(i)>
            <span class="material-icons">
                delete
            </span>
        </td>
    </tr>
    </tbody>
</table>