<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Temp. High (º F)</th>
      <th scope="col">Temp. Low (º F)</th>
      <th scope="col">Wind Speed (mph)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let detail of weatherDetails; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td (click)=onItemClick(i)>{{ detail.date }}</td>
      <td>
        <img [src]=detail.status_img class="mr-2" style="width: 20px">
        {{ detail.status_txt }}
      </td>
      <td>{{ detail.high_temp}}</td>
      <td>{{ detail.low_temp}}</td>
      <td>{{ detail.wind_speed}}</td>
    </tr>
    </tbody>
  </table>