.center {
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.highcharts-container {
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    text-align: center;   
}

  