.address {
    /* justify-content:center; */
    margin-top: 60px;
    margin-bottom: 60px;
    text-align:center;
    font-size: medium;
    font-weight: bold;
    
}


#twiter_button {
    background-image: url(../../../src/assets/Twitter_logo_white_32.png);
    background-size:auto;
    width: 40px;
    height: 40px;
}