.address {
    /* justify-content:center; */
    margin-top: 60px;
    margin-bottom: 60px;
    text-align:center;
    font-size: medium;
    font-weight: bold;
    
}

#twiter_button {
    background-image: url(../../../src/assets/Twitter_logo_white_32.png);
    background-size:auto;
    width: 40px;
    height: 40px;
}

/* #star_button {
    background-image: url(../../../src/assets/star_border_black_24dp.svg);
    background-size:auto;
    width: 40px;
    height: 40px;
} */

agm-map {
    height: 600px;
}

#below_buttons {
    margin: 0 auto;
    margin-top: 30px;
    justify-content:right;
    align-items: center;
}

#star_button {
    /* background-image: url(../../../src/assets/star_black_24dp.svg); */
    /* background-color:yellow; */
    /* background-size: contain; */
    background-color: white;
    fill: blue;
    border-radius: 10%;
    border-width: thin;
    /* border-color: grey; */
    width: 35px;
    height: 35px;

    justify-content:center;
    align-items: center;
}

#yellow_star {
    color: yellow;
}