#result_tab_container {
    margin: 0 auto;
}

#tabs {
    margin-right: 3px;
}
.address {
    /* justify-content:center; */
    margin-top: 60px;
    margin-bottom: 60px;
    text-align:center;
    font-size: medium;
    font-weight: bold;
    
}

#twiter_button {
    background-image: url(../../../src/assets/Twitter_logo_white_32.png);
    background-size: auto;
    background-color: #eae9eb;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border: solid;
    border-width: thin;
    border-radius: 10%;
    border-color: #d9dde2;
    
    margin-right: 5px;
}

#list_button {
    margin-left: 5px;
}

/* #star_button {
    background-image: url(../../../src/assets/star_border_black_24dp.svg);
    background-size:auto;
    width: 40px;
    height: 40px;
} */

agm-map {
    height: 600px;
}

#below_buttons {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content:right;
    align-items: center;
}

#star_button {
    /* background-image: url(../../../src/assets/star_black_24dp.svg); */
    /* background-color:yellow; */
    /* background-size: contain; */
    background-color: white;
    border-color: #d9dde2;
    border-radius: 10%;
    border-width: thin;
    margin-right: 3px;
    /* border-color: grey; */
    width: 35px;
    height: 35px;

    justify-content:center;
    align-items: center;
}

/* #star_icon {
    color: #feda00;
} */



#detail_button {
    border: none;
    font-weight: lighter;
    color: grey;
    margin-left: 5px;
    margin-right: 5px;
}

#detail_button:hover {
    text-decoration: underline;
    background-color: white;
    cursor: pointer;
    /* box-shadow: none !important; */
    /* background-color: white */
    /* background-color: transparent; */
    opacity: 1 !important;
}